@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');

.construction_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans';
  color: #272121;
}

.a {
  text-decoration: none;
  color: #272121;
  transition: color 0.2s ease-in-out;
}

.a:hover {
  color: #cf3a5f;
}